@import './lib.scss';
// menu colors
$menuBgColor: #409eff;
$activeTextColor: #ffffff;
$textColor: #f5f5f5;

:export {
  menuColor: $menuBgColor;
  menuTextColor: $textColor;
  menuActiveTextColor: $activeTextColor;
}

@include theme('blue-side')