@import "~normalize.css/normalize.css";
@import "./transition.css";
/* @import './themes/common.scss'; */
html,
body,
#app {
  height: 100vh;
}
* {
  box-sizing: border-box;
}

.el-button--primary{
  --el-button-background-color: var(--el-color-primary) !important;
  --el-button-border-color: var(--el-color-primary) !important;
}
.el-menu-item.is-active {
  background-color: var(--el-menu-hover-background-color) !important;
}